*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

header{
    border-bottom: 1px solid rgba(128, 128, 128, 0.651);
    display: flex;
    align-items: center;
    height: 150px;
}

header .img-logo{
    width: 5rem;
    height: 4.5rem;
}

header .img-logo img{
    width: 100%;
    height: 100%;
    image-rendering: auto;
}

#localizacao p{
    margin: 0;
    padding: 0;
}

#text-localizacao1, #text-numero{
    font-weight: bold;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.781);
}

#text-localizacao2, #text-numero{
    color: gray;
    font-size: 14px;
    font-weight: 500;
}

#butao-associe{
    width: 170px;
    height: 50px;
    border-radius: 100px;
    border: none;
    background: rgb(2,48,124);
}

#butao-associe:hover{
    background: rgba(2, 49, 124, 0.938);
}

#butao-associe a{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}


/* ------------ section banner --------- */

#banner-ouvidoria{
    width: 100%;
    height: 250px;
    position: relative;
}

#banner-ouvidoria #tamanho-img img{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    background-size: cover;
}

#banner-ouvidoria #card-ouvidoria{
    position: absolute;
    bottom: 40%;
    left: 10%;
}

#banner-ouvidoria #card-ouvidoria h1{
    color: white;
    font-size: 50px;
}

/* -------------- main ouvidoria ----- */
.main{
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    padding: 50px;

}

.main .card-demandas{
    width: 400px;
    height: 300px;
    display: flex;
    overflow: hidden;
}

.main .card-demandas:hover{
    border: 1px solid rgb(2,48,124);
}

.main .card-demandas .divisor-demandas .title-demandas{
    height: auto;
}

.main .card-demandas .divisor-demandas .img-demandas{
    width: 100%;
    height: 65%;
    overflow: hidden;
}

.main .card-demandas .divisor-demandas .img-demandas img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: center;
}

.main .card-demandas .divisor-demandas .footer-demandas{
    width: 100%;
    height: 25%;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.288);
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card-demandas .divisor-demandas .footer-demandas p{
    font-size: 14px;
    color: rgb(2,48,124);
    text-align: center;
}

.main .card-demandas .icon-demandas{
    background-color: rgb(2,48,124);
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card-demandas .icon-demandas{
    background-color: rgb(2,48,124);
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .card-demandas .icon-demandas  i{
    color: white;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(97,127,173);
    border: 1px solid white;    
}

.main .card-demandas .icon-demandas i:hover{
    background-color: rgb(84, 120, 175);
    
}

.main .card-demandas .title-demandas h3{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-align: center;
    background-color: rgba(2, 49, 124, 0.623);
}

/* --------------- canais de atendimento ------------- */
#canais{
    height: 400px;
    border-bottom: 3px solid rgb(2,48,124);
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

#canais #canais-header{
    width: 100%;
    height: 100px;
    border-top: 1px solid rgb(3, 7, 66);
    border-bottom: 2px solid rgb(2,48,124);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#canais #canais-header h2{
    font-weight: bold;
    color: rgb(3, 7, 66);
    line-height: 1;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}   

#canais #canais-body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
}


#canais #canais-body .card-canais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 100%;
}

#canais #canais-body .card-canais p{
    color: gray;
}

#canais #canais-body .card-canais .end-canais span{
    color: gray;
}

#canais #canais-body .card-canais .end-canais{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 0;
}

#canais #canais-body .card-canais:nth-child(4) .end-canais {
  font-size: 12px;
}

#canais #canais-body .card-canais i{
    font-size: 30px;
    color: black;
    border: 3px solid black;
    border-radius: 50%;
    padding: 15px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#canais #canais-body .card-canais h3{
    font-size: 25px;
    color: #1B2473;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

/* --------------- informações ------------- */

 #informacao{
    padding: 15px 0 0 0;
}

#informacao p{
    padding: 15px 0;
    color: gray;
    font-family: 'Roboto', sans-serif;
}

/* ----------------- footer ---------- */
footer{
    display: flex;
    height: 500px;
    flex-direction: column;
    margin-top: 30px;
}

footer #footer1{
    display: flex;
    background-color: rgb(2,32,82);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 435px;
}

footer #footer1 #brasao-footer{
    width: 25%;
    text-align: center;
}

footer #footer1 img{
    width: 10em;
}

footer #footer1 #links-footer{
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    overflow: hidden;
}

footer #footer1 #links-footer .links-footer-texts{
    display: flex;
    flex-direction: column;
    width: 50%;
    display: flex;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    padding-left: 2.5em;
}

footer #footer1 #links-footer .links-footer-texts h3{
    color: white;
    font-weight: 500;
}

footer #footer1 #links-footer .links-footer-texts a{
    color: #5a6d99;
    font-weight: 500;
}

footer #footer2{
    height: 65px;
    background-color: rgb(40,40,40);
    border-top: rgb(58, 58, 58) 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer #footer2 p{
    color: rgba(128, 128, 128, 0.692);
    display: contents;
}

/* Botão inferior para o topo */
#link-topo{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}